AutoROM.accept-rom-license==0.6.1
AutoROM==0.4.2
Babel==2.14.0
Brlapi==0.8.3
Brotli==1.0.9
Cython==0.29.37
Deprecated==1.2.13
Farama-Notifications==0.0.4
Flask==3.0.2
GitPython==3.1.43
Jinja2==3.1.3
Mako==1.1.3
Markdown==3.6
MarkupSafe==2.0.1
MarkupSafe==2.1.5
Pillow==9.0.1
PyGObject==3.42.1
PyGithub==1.55
PyJWT==2.3.0
PyNaCl==1.5.0
PyOpenGL==3.1.7
PyQt5-sip==12.9.1
PyQt5==5.15.6
PySocks==1.7.1
PyYAML==5.4.1
Pygments==2.11.2
Pygments==2.17.2
SecretStorage==3.3.1
Send2Trash==1.8.2
Shimmy==0.2.1
SuperSuit==3.9.2
Werkzeug==3.0.1
absl-py==2.1.0
action-msgs==1.6.0
action-tutorials-interfaces==0.27.1
action-tutorials-py==0.27.1
actionlib-msgs==5.0.1
aiohttp==3.9.3
aiosignal==1.3.1
aiostream==0.5.2
ale-py==0.8.1
ament-cmake-test==2.0.5
ament-copyright==0.14.3
ament-cppcheck==0.14.3
ament-cpplint==0.14.3
ament-flake8==0.14.3
ament-index-python==1.5.2
ament-lint-cmake==0.14.3
ament-lint==0.14.3
ament-package==0.15.3
ament-pep257==0.14.3
ament-uncrustify==0.14.3
ament-xmllint==0.14.3
angles==1.16.0
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==21.2.0
attrs==23.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bertopic==0.16.0
bleach==6.1.0
blinker==1.4
blinker==1.7.0
bloom==0.12.0
box2d-py==2.3.5
breezy==3.2.1
builtin-interfaces==1.6.0
catkin-pkg-modules==1.0.0
catkin-pkg==1.0.0
certifi==2020.6.20
certifi==2024.6.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.0.3
click==8.1.7
cloudpickle==3.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.16.1
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.4.1
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
comm==0.2.1
command-not-found==0.3
composition-interfaces==1.6.0
configobj==5.0.6
control-msgs==5.2.0
controller-manager-msgs==3.25.0
controller-manager==3.25.0
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
cv-bridge==3.5.0
cycler==0.11.0
datasets==2.18.0
dbus-python==1.2.18
debugpy==1.8.0
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.27.1
diagnostic-msgs==5.0.1
diagnostic-updater==3.1.2
dill==0.3.8
distlib==0.3.4
distro-info==1.1+ubuntu0.2
distro==1.7.0
dm-tree==0.1.8
docker-pycreds==0.4.0
docutils==0.17.1
domain-coordinator==0.11.2
dulwich==0.20.31
duplicity==0.8.21
empy==3.3.4
etils==1.7.0
example-interfaces==0.10.2
examples-rclpy-executors==0.18.0
examples-rclpy-minimal-action-client==0.18.0
examples-rclpy-minimal-action-server==0.18.0
examples-rclpy-minimal-client==0.18.0
examples-rclpy-minimal-publisher==0.18.0
examples-rclpy-minimal-service==0.18.0
examples-rclpy-minimal-subscriber==0.18.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.110.0
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.19.1
filelock==3.13.1
flake8==4.0.1
flatbuffers==24.3.25
fonttools==4.29.1
fqdn==1.5.1
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.2.0
future==0.18.2
gast==0.5.2
gast==0.5.4
gazebo-msgs==3.7.0
geometry-msgs==5.0.1
gitdb==4.0.11
glfw==2.7.0
google-pasta==0.2.0
gpg==1.16.0
gridWorldEnv==0.0.1
grpcio==1.62.1
grpclib==0.4.7
gym-notices==0.0.8
gym==0.26.2
gymnasium==0.28.1
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hdbscan==0.8.33
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.0
huggingface-hub==0.21.4
hyperframe==6.0.1
idna==3.3
image-geometry==3.5.0
imageio==2.34.0
importlib-metadata==4.6.4
importlib_resources==6.4.0
iniconfig==1.1.1
interactive-markers==2.4.0
ipykernel==6.29.0
ipython==8.21.0
ipython_genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jax-jumpy==1.0.0
jedi==0.19.1
jeepney==0.7.1
joblib==1.3.2
joint-state-publisher-gui==2.4.0
joint-state-publisher==2.4.0
json5==0.9.14
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
jupyter-core==4.9.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.12
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==3.3.3
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
lark==1.1.1
laser-geometry==2.5.0
launch-ros==0.24.1
launch-testing-ros==0.24.1
launch-testing==2.0.3
launch-xml==2.0.3
launch-yaml==2.0.3
launch==2.0.3
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
lbforaging==1.1.1
libclang==18.1.1
libtmux==0.36.0
lifecycle-msgs==1.6.0
llvmlite==0.42.0
lockfile==0.12.2
logging-demo==0.27.1
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
map-msgs==2.2.0
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.5.1
mccabe==0.6.1
mdurl==0.1.2
mercurial==6.1.1
message-filters==4.7.0
mistune==3.0.2
ml-dtypes==0.3.2
modal==0.61.95
monotonic==1.6
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==0.0.0
msgpack==1.0.8
mujoco==2.3.7
multidict==6.0.5
multiprocess==0.70.16
namex==0.0.8
nav-msgs==5.0.1
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.2.1
nose2==0.9.2
notebook==7.0.7
notebook_shim==0.2.3
notify2==0.3
numba==0.59.1
numpy==1.21.5
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
openai==1.14.3
opt-einsum==3.3.0
optree==0.11.0
osrf-pycommon==2.1.2
outcome==1.3.0.post0
overrides==7.7.0
packaging==21.3
pandas==2.2.1
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.3
patiencediff==0.2.1
pcl-msgs==1.0.0
pendulum-msgs==0.27.1
pettingzoo==1.23.0
pexpect==4.8.0
pillow==10.3.0
pip==22.0.2
pip==24.0
platformdirs==4.2.0
plotly==5.20.0
pluggy==0.13.0
ply==3.11
prometheus-client==0.19.0
prompt-toolkit==3.0.43
protobuf==3.12.4
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyRFC3339==1.1
pyarrow-hotfix==0.6
pyarrow==15.0.2
pybind11==2.9.1
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pycups==2.0.1
pydantic==2.6.4
pydantic_core==2.16.3
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
pygame==2.5.2
pyglet==2.0.15
pymacaroons==0.13.0
pynndescent==0.5.12
pyparsing==2.4.7
pytest-cov==3.0.0
pytest==6.2.5
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.1
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-gitlab==2.10.1
python-json-logger==2.0.7
python-qt-binding==1.2.4
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
pyzmq==25.1.2
qt-dotgraph==2.4.3
qt-gui-cpp==2.4.3
qt-gui-py-common==2.4.3
qt-gui==2.4.3
quality-of-service-demo-py==0.27.1
ray==2.24.0
rcl-interfaces==1.6.0
rclpy==4.1.5
rcutils==6.2.3
referencing==0.33.0
regex==2023.12.25
reportlab==3.6.8
requests-toolbelt==0.9.1
requests==2.25.1
requests==2.31.0
resource-retriever==3.2.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rmw-dds-common==2.0.1
robo-gym-server-modules==0.2.7.9
robo-gym==1.0.0
roman==3.3
ros-image-to-qimage==0.4.1
ros2action==0.25.6
ros2bag-mcap-cli==0.22.6
ros2bag-sqlite3-cli==0.22.6
ros2bag==0.22.6
ros2cli==0.25.6
ros2component==0.25.6
ros2doctor==0.25.6
ros2interface==0.25.6
ros2launch==0.24.1
ros2lifecycle==0.25.6
ros2multicast==0.25.6
ros2node==0.25.6
ros2param==0.25.6
ros2pkg==0.25.6
ros2run==0.25.6
ros2service==0.25.6
ros2topic==0.25.6
rosbag2-interfaces==0.22.6
rosbag2-py==0.22.6
rosdep-modules==0.24.0
rosdep==0.24.0
rosdistro-modules==0.9.1
rosdistro==0.9.1
rosgraph-msgs==1.6.0
rosidl-adapter==4.0.1
rosidl-cli==4.0.1
rosidl-cmake==4.0.1
rosidl-generator-c==4.0.1
rosidl-generator-cpp==4.0.1
rosidl-generator-py==0.18.0
rosidl-generator-type-description==4.0.1
rosidl-parser==4.0.1
rosidl-pycommon==4.0.1
rosidl-runtime-py==0.12.0
rosidl-typesupport-c==3.0.1
rosidl-typesupport-cpp==3.0.1
rosidl-typesupport-fastrtps-c==3.0.2
rosidl-typesupport-fastrtps-cpp==3.0.2
rosidl-typesupport-introspection-c==4.0.1
rosidl-typesupport-introspection-cpp==4.0.1
rospkg-modules==1.5.1
rospkg==1.5.1
rpds-py==0.17.1
rpyutils==0.3.2
rqt-action==2.1.2
rqt-bag-plugins==1.3.4
rqt-bag==1.3.4
rqt-console==2.1.1
rqt-controller-manager==3.25.0
rqt-gauges==0.0.3
rqt-graph==1.4.2
rqt-gui-py==1.3.4
rqt-gui==1.3.4
rqt-joint-trajectory-controller==3.24.0
rqt-moveit==1.0.1
rqt-msg==1.3.1
rqt-plot==1.2.3
rqt-publisher==1.6.3
rqt-py-common==1.3.4
rqt-py-console==1.1.1
rqt-reconfigure==1.3.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.6
rqt-robot-steering==1.0.0
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.1.1
rqt-shell==1.1.1
rqt-srv==1.1.1
rqt-tf-tree==1.0.4
rqt-topic==1.6.1
rqt==1.3.4
safetensors==0.4.2
sb3_contrib==2.3.0
scikit-image==0.23.2
scikit-learn==1.4.1.post1
scipy==1.13.1
scipy==1.8.0
screen-resolution-extra==0.0.0
scripts==3.7.0
selenium==4.21.0
sensor-msgs-py==5.0.1
sensor-msgs==5.0.1
sentence-transformers==2.6.0
sentry-sdk==2.3.1
service-msgs==1.6.0
setproctitle==1.3.3
setuptools==59.6.0
shape-msgs==5.0.1
sigtools==4.0.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sros2==0.11.3
stable_baselines3==2.3.0
stack-data==0.6.3
starlette==0.36.3
statistics-msgs==1.6.0
std-msgs==5.0.1
std-srvs==5.0.1
stereo-msgs==5.0.1
swig==4.2.1
sympy==1.9
synchronicity==0.6.4
systemd-python==234
teleop-twist-keyboard==2.4.0
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard==2.16.2
tensorboardX==2.6.2.2
tensorflow-io-gcs-filesystem==0.37.0
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.0
tf-transformations==1.0.0
tf2-geometry-msgs==0.31.7
tf2-kdl==0.31.7
tf2-msgs==0.31.7
tf2-py==0.31.7
tf2-ros-py==0.31.7
tf2-sensor-msgs==0.31.7
tf2-tools==0.31.7
threadpoolctl==3.4.0
tifffile==2024.5.22
tinycss2==1.2.1
tinyscaler==1.2.7
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
topic-monitor==0.27.1
torch-tb-profiler==0.4.3
torch==2.2.1
torchaudio==2.2.1
torchsummary==1.5.1
torchvision==0.17.1
tornado==6.4
tqdm==4.66.2
traitlets==5.1.1
traitlets==5.14.1
trajectory-msgs==5.0.1
transformers==4.39.1
transforms3d==0.4.1
trio-websocket==0.11.1
trio==0.25.1
triton==2.2.0
turtlesim==1.6.1
type-description-interfaces==1.6.0
typer==0.9.4
types-certifi==2021.10.8.3
types-python-dateutil==2.8.19.20240106
types-toml==0.10.8.20240310
typing_extensions==4.9.0
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
umap-learn==0.5.5
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.3.2
uri-template==1.3.0
urllib3==1.26.5
urllib3==2.2.1
usb-creator==0.3.7
vcstool==0.3.0
vcstools==0.1.42
visualization-msgs==5.0.1
wadllib==1.3.6
wandb==0.17.0
watchfiles==0.21.0
webcolors==1.13
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.37.1
wrapt==1.13.3
wsproto==1.2.0
xacro==2.0.9
xdg==5
xkit==0.0.0
xxhash==3.4.1
yarl==1.9.4
zipp==1.0.0